<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    SPLITTER
    <ul>
      <% @items.each do |item| %>
        <li><strong>Item:</strong> <%= item.name %></li>
      <% end %>


    </ul>

  </body>
</html>
